version: '3.8'
services:
  postgres:
    image: postgres:17
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: nest_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
